@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box; 
  margin: 0px;
  border: 0px;
  font-family: 'Roboto', arial, sans-serif;
  
    --primary-color: blue;
    --secondary-color: red;
    --decoration-color: white;
    --text-color: black;
}

main {
  background-image: url('../img/banner-1050629__340.webp');
  background-repeat: no-repeat;
  background-size: cover;
}


html {
  font-size: 20px;
}

.container_pai {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

header {
  padding: 20px 0px 20px 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-image: url('../img/banner-1050629__340.webp');
  background-repeat: no-repeat;
  background-size: cover;

  
}

.banner {
  height: 532px;
  width: 100%;
  background-image: url('../img/belem.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}


.logo img {
  width: 100%;
  border-radius: 36px;
}

h1 {
  color: var(--decoration-color);
  font-size: 2rem;
}

.logotipo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.curiosidades {
padding-top: 50px;
}


.menu {
  color: var(--decoration-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  text-decoration: none;
  font-size: 1rem;
  
}

.menu1 {
  width: 110%;
  height: 50px;
  background-color: var(--secondary-color);
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.menu2 {
  width: 110%;
  height: 50px;
  background-color: var(--secondary-color);
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.menu3 {
  width: 110%;
  height: 50px;
  background-color: var(--secondary-color);
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.card {
  width: 80%;
  height: 500px;
  border-radius: 31px;
  background-color: var(--decoration-color);
  margin: 20px;
}

.card_video {
  width: 80%;
  height: 500px;
  border-radius: 31px;
  background-color: var(--decoration-color);
  margin: 20px 20px 80px 20px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.img_card {
  height: 250px;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
 
}

.title_video {

  margin-left: -240px;
  padding-top: 50px;
}

.text_banner {
 color: antiquewhite;
}

h2 {
  font-size: 1.5rem;
  text-align: center;
  color: var(--decoration-color);
}

h3 {
  font-size: 1rem;
  color: var(--primary-color);
  margin: 10px;
  
}

p {
  font-size: 0.7rem;
  color: var(--text-color);
  padding: 10px;
  
}

footer {
  background-image: url('../img/docas-footer.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 795px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.img_footer {
  height: 141px;
  width: 100%;
  border-radius: 100%;
}

.div_footer a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}


@media (min-width:426px) { /*tablets*/

  .container_pai {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-top: 100px;

  }

  .curiosidades {
    position: absolute;
    text-align: center;
    margin: 10px 0px 20px 20px;
  }


  .card {
    width: 45%;
    margin: 10px;
    height: 534px;
  }

  .card_video {
    width: 80%;
    margin: 10px 10px 80px 10px;
    height: 534px;
    
  }

  .title_video {
    margin-left: -500px;
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

}


@media (min-width:769px) { /*laptop*/

  header {
   display: flex;
   flex-direction: row;
   align-items: center;
  justify-content: space-around;
  

 }

 .menu {
   display: flex;
   flex-direction: row;
   gap: 200px;
   width: 50%;
   
 }

 .logotipo {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }

 .container_pai {
   width: 80%;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;
   margin-left: 125px;
 }

 .curiosidades {
   margin-left: 150px;
 }

 .card {
   width: 30%;
 }

 .card_video{
   width: 80%;
   height: 534px;
   margin-top: 70px;

 }

 .title_video {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   margin: 70px 0px -50px 150px;
   
 }

 footer {
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

}
  

